@font-face {
  font-family: 'Heroic Condensed';
  src: url('../fonts/HeroicCondensed-Bold.eot');
  src: url('../fonts/HeroicCondensed-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HeroicCondensed-Bold.woff2') format('woff2'),
      url('../fonts/HeroicCondensed-Bold.woff') format('woff'),
      url('../fonts/HeroicCondensed-Bold.ttf') format('truetype'),
      url('../fonts/HeroicCondensed-Bold.svg#HeroicCondensed-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}